{% extends 'base.html' %}
{% load static %}
{% block meta %}
<title>Warunks</title>
<style>
    
</style>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}

<div class="min-h-screen bg-[#D8CCBB]">

  <div class="flex items-center justify-center min-h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-4 text-[#714705]">Welcome to Warunks! &#128075;</h1>
        <p class="text-lg mb-4">Hi {{ name }}, ready to connect with the traditional warungs around you?</p>
        <p class="text-lg mb-6">Last login: {{ last_login }}</p>
        <button class="bg-[#714705] text-white px-5 py-2 rounded-full hover:bg-[#52370d]">Discover More</button>
    </div>
  </div>

  {% if not product_entries %}
  <div class="flex flex-col justify-center items-center min-h-[100vh] bg-[#442900]">
    <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-40 h-40 mb-6"/>
    <p class="text-center text-xl text-[#D8CCBB] font-semibold">No product entries yet on your warunks.</p>
    <p class="text-center text-[#D8CCBB] mt-2 mb-4">Click the button below to start tracking your products.</p>
    <a href="{% url 'main:create_product_entry' %}" class="bg-white hover:bg-gray-200 text-[#442900] ml-6 mb-6 font-bold py-2 px-4 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      + Add New Product Entry
    </a>
  </div>
  {% else %}
  <div class="min-h-[100vh] bg-[#442900]">
    <h2 class="text-center pt-12 mb-8 text-3xl font-bold text-white">My Products</h2>
    <a href="{% url 'main:create_product_entry' %}" class="bg-white hover:bg-gray-200 text-[#442900] ml-6 mb-6 font-bold py-2 px-4 rounded-lg shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      + Add New Product Entry
    </a>
    <div class="flex flex-wrap justify-center md:justify-start gap-4 mt-8 ml-6">
      {% for product_entry in product_entries %}
          <div class="flex-none w-full max-w-sm"> <!-- Card wrapper -->
              {% include 'card_product.html' with product_entry=product_entry %}
          </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}

</div>
{% endblock content %}